<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Perfil de usuario</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <h1>Perfil de usuario</h1>
      <div class="row">
        <div class="col-md-3">
          <img src="./images/users/<%= user.image %>" alt="Imagen de perfil">
        </div>
        <div class="col-md-9">
          <h3>Nombre: <span id="name"> <%= user.name %></span></h3>
          <h3>Apellido: <span id="surname"><%= user.surname %></span></h3>
          <h3>Email: <span id="email"><%= user.email %></span></h3>
          <h3>Teléfono: <span id="telephone"><%= user.telephone %></span></h3>
          <h3>DNI: <span id="dni"><%= user.dni %></span></h3>
        </div>
      </div>
    </div>
  </body>
</html>
