<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate en Mundo Mascotas</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="form">
        <span class="form__title">Registrate en Mundo Mascotas!</span>
        <form action="/login/register" method="POST" enctype="multipart/form-data">
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="name" placeholder="Nombre" id="name" value="<%= locals.old && old.name ? old.name : '' %>" required>
                <span class="bar"></span>
                <% if(locals.errorsregister && errorsregister.name){ %>
                    <p style="color:red"> <%=errorsregister.name.msg%> </p>
                <%}%>
            </div>
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="surname" placeholder="Apellido" id="surname" value="<%= locals.old && old.surname ? old.surname : '' %>"required>
                <span class="bar"></span>
                <% if(locals.errorsregister && errorsregister.surname){ %>
                    <p style="color:red"> <%=errorsregister.surname.msg%> </p>
                <%}%>
            </div>
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="dni" placeholder="DNI"  id="dni" value="<%= locals.old && old.dni ? old.dni : '' %>"required>
                <span class="bar"></span>
                <% if(locals.errorsregister && errorsregister.dni){ %>
                    <p style="color:red"> <%=errorsregister.dni.msg%> </p>
                <%}%>
            </div>
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="telephone" placeholder="Telefono" id="telephone" value="<%= locals.old && old.telephone ? old.telephone : '' %>"required>
                <span class="bar"></span>
                <% if(locals.errorsregister && errorsregister.telephone){ %>
                    <p style="color:red"> <%=errorsregister.telephone.msg%> </p>
                <%}%>
            </div>
            <div class="form__input">
                <i class="ri-mail-line"></i>
                <input type="email" name="email" placeholder="Email" id="email" value="<%= locals.old && old.email ? old.email : '' %>"required>
                <span class="bar"></span>
                <% if(locals.errorsregister && errorsregister.email){ %>
                    <p style="color:red"> <%=errorsregister.email.msg%> </p>
                <%}%>
            </div>
            <div class="form__input">
                <i class="ri-lock-line"></i>
                <input type="password" name="password" placeholder="Contraseña" id="password"  required>
                <span class="bar"></span>
                <% if(locals.errorsregister && errorsregister.password){ %>
                    <p style="color:red"> <%=errorsregister.password.msg%> </p>
                <%}%>
            </div>
            <div class="form__input">
                <i class="ri-lock-line"></i>
                <input type="password" name="password2" placeholder="Confirme contraseña" id="password2" required>
                <span class="bar"></span>
                <% if(locals.errorsregister && errorsregister.password2){ %>
                    <p style="color:red"> <%=errorsregister.password2.msg%> </p>
                <%}%>
            </div>
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="file" name="image" placeholder="Adjuntar imagen de perfil" id="image" accept= "pdf, jpeg, jpg" required>
                <span class="bar"></span>
                <% if(locals.errorsregister && errorsregister.image){ %>
                    <p style="color:red"> <%=errorsregister.image.msg%> </p>
                <%}%>
            </div>
            <div class="form__input">
                <label for="id_user_category">Seleccionar tipo de usuario:</label>
                <select class="selector" required aria-label="select example" name="id_user_category">
                  <% for (let i=0; i < categoriaUsers.length; i++){ %>
                  <option value="<%= categoriaUsers[i].id_user_category%>" name="id_user_category">
                    <%= categoriaUsers[i].name_user_category%>
                  </option>
                  <% } %>
                </select>
                <span class="bar"></span>
              </div>
            <button type="submit" class="form__button">Registrarme</button>
            <span class="form__switch">
                Ya tenes cuenta?? <a href="/login">Login</a>
            </span>
            <span class="form__switch">Regresar al <a href="/">inicio</a></span>
        </form>
    </div>
</body>

</html>