<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrate en Mundo Mascotas</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
</head>

<body>
    <div class="form">
        <span class="form__title">Registrate en Mundo Mascotas!</span>
        <div class = "errores">
            <% if(locals.errores){
                errores.forEach(error => { %>
                <p><%= error.msg %></p>
            <% })
            }
            %>
        </div>
        <form action="/login/register" method="POST" enctype="multipart/form-data">
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="name" placeholder="Nombre" id="name" value="<%= locals.old && old.name ? old.name : '' %>" >
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="surname" placeholder="Apellido" id="surname" value="<%= locals.old && old.surname ? old.surname : '' %>">
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="dni" placeholder="DNI"  id="dni" value="<%= locals.old && old.dni ? old.dni : '' %>">
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input type="text" name="telephone" placeholder="Telefono" id="telephone" value="<%= locals.old && old.telephone ? old.telephone : '' %>">
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-mail-line"></i>
                <input type="email" name="email" placeholder="Email" id="email" value="<%= locals.old && old.email ? old.email : '' %>">
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-lock-line"></i>
                <input type="password" name="password" placeholder="Contraseña" id="password"  >
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-lock-line"></i>
                <input type="password" name="password2" placeholder="Confirme contraseña" id="password2" >
                <span class="bar"></span>
            </div>
            <div class="form__input">
                <i class="ri-user-line"></i>
                <input class="seleccion-archivo" type="file" name="image" placeholder="Adjuntar imagen de perfil" id="image" accept= "pdf, jpeg, jpg, png" >
                <span class="bar"></span>
            </div>
            <button type="submit" class="form__button">Registrarme</button>
            <span class="form__switch">
                Ya tenes cuenta?? <a href="/login">Login</a>
            </span>
            <span class="form__switch">Regresar al <a href="/">inicio</a></span>
        </form>
    </div>
</body>

</html>