<p>
    <label>
        Título
        <input type="text" name="title" value="<%= productoEditado.nombre%>">
    </label>
</p>
<p>
    <label>
        Descripción
        <textarea name="desc"><%= productoEditado.descripcion %></textarea>
    </label>
</p>
<p class="image">
    <% if (locals.product) { %>
        <img src="/images/Productos/<%= product.imagen ? product.imagen : '' %>" alt="">
        <input type="hidden" name="oldImage" value="<%= product.imagen %>">
    <% } %>
</p>
<p>
    <label>
        Imagen
        <input type="file" name="image">
    </label>
</p>
<p>
    <label>
        Precio
        <input type="text" name="price" value="<%= productoEditado.precio %>">
    </label>
</p>