<!DOCTYPE html>
<html lang ="es">
  <%- include('../partials/head.ejs') %>
    <body>
      <%- include('../partials/header.ejs') %>
      <section class="product-detail">
        <div class="container form-container">
            <h2 class="title">Editar producto</h2>
            <form action="/products/<%= productoEditado.id %>/editar" method="PUT" enctype="multipart/form-data">
                <%- include('./partials/formFields'); %>
                <div class="mb-3">
                  <button class="btn btn-primary" type="submit" >Guardar producto</button>
                  <a href="/administrar" class="btn btn-warning">Volver al Administrador</a>
                </div>
            </form>
        </div>
    </section>       
    <%- include('../partials/footer.ejs') %>
  </body>
</html>