<!DOCTYPE html>
<html lang ="es">
  <%- include('../partials/head.ejs') %>
    <body>
      <%- include('../partials/header.ejs') %>
      <section class="product-detail">
        <div class="container form-container">
            <h2 class="title">Editar producto</h2>
            <form action="/products/<%= productoEditado.id %>/editar" method="PUT" enctype="multipart/form-data">
                <%- include('./partials/formFields'); %>
                <p class="buttons">
                  <button type="submit" class="button is-primary">Guardar producto</button>
                </p>
                <a href="/">Volver al inicio</a>
            </form>
        </div>
    </section>       
    <%- include('../partials/footer.ejs') %>
  </body>
</html>