<!DOCTYPE html>
<html lang ="es">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <section class="row">
            <article class="col-12"><h2 class="text-black text-center pt-2">Administrador de Productos</h2></article>
            <article class="col-12">
                <a href="/administrar/creacion" class="text-black">Agregar un producto</a>
            </article>
            <article class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Título</th>
                            <th scope="col">Ver producto</th>
                            <th scope="col">Editar producto</th>
                            <th scope="col">Eliminar producto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% products.forEach(product => { %>
                            <tr>
                                <td><%= product.id %></td>
                                <td><%= product.nombre %></td>
                                <td><a href="/productDetail/<%= product.id %>" class="text-black">Link</a></td>
                                <td><a href="/administrar/<%= product.id %>/editar" class="text-black">Editar</a></td>
                                <td><a href="/administrar/delete/<%= product.id %>?_method=DELETE" class="text-black">Borrar</a></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </article>
        </section>
    </body>
</html>