<!DOCTYPE html>
<html lang ="es">
    <%- include('../partials/head.ejs') %>
    <body>
        <header>
            <div class="contenedor">
            <div class="top-header">
                <span class="logo-chico">
                    <a href="/"><img class="logo-chico"  src="/images/Logos/logo5.png" alt="Logo Mundo Mascotas" class="logo_img"></a>
                </span>
            </div>
            <div class="top-header">
                <nav>  
                    <span class="form" action="label" method="GET">
                        <span class="barra-de-busqueda">
                            <form class="d-flex" role="search">
                                <input class="form-control me-2" type="search" aria-label="Search">
                                <button class="btn btn-outline-success" type="submit">Buscar</button>
                            </form>
                        </span>
                    </span>
                </nav>
        
                <!-- <div>
                <h2>SearchPrueba</h2>
                <form action="/producto/search">
                    <input type="text" name="search">
                    <input type="submit" value="Search">
                </form>
                </div> -->

            </div>
                <div class="top-header">
                    <nav>
                        <% if (locals.isLogged){ %>
                    <span><a href="/perfil"><i class="fas fa-user-alt"></i></a></span> 
                    <span><a href="/productCart"><i class="fas fa-shopping-basket"></i></a></span>
                    <% } else { %>
                        <button class="btn btn-light" type="submit"><a href="/administrar">Administrador</a></button>
                        <button class="btn btn-light" type="submit"><a href="/login/register">Registrate</a></button>
                        <button class="btn btn-light" type="submit"><a href="/login">Log In</a></button>
                        <% } %>
                    </nav>    
                </div>              
            </div>
        </header>
        <section class="row">
            <article class="col-12">
                <div class="opciones-product-admin">
                    <div class="botones-de-opcion">
                        <h2 class="text-black pt-2">Administrador de datos</h2>
                        <div class="nav-hover nav-tabs">
                            <div class="opciones-admin-datos">
                                <a href="/administrar/creacion" class="text-black">Agregar un producto</a>
                            </div>
                            <div class="opciones-admin-datos">
                                <a href="/administrar/tallas" class="text-black">Agregar un talle</a>
                            </div>
                            <div class="opciones-admin-datos">
                                <a href="/administrar/marcas" class="text-black">Agregar una marca</a>
                            </div>
                            <div class="opciones-admin-datos">
                                <a href="/administrar/colores" class="text-black">Agregar colores</a>
                            </div>
                            <div class="opciones-admin-datos">
                                <a href="/administrar/mascotas" class="text-black">Agregar tipo de mascota</a>
                            </div>
                            <div class="opciones-admin-datos">
                                <a href="/administrar/mediosdepago" class="text-black">Agregar medios de pago</a>
                            </div>
                            <div class="opciones-admin-datos">
                                <a href="/administrar/pesos" class="text-black">Agregar medida o peso</a>
                            </div>
                            <div class="opciones-admin-datos">
                                <a href="/administrar/envios" class="text-black">Agregar medios de envio</a>
                            </div>
                        </div>
                        <!-- <table class="table table-hover">
                            <th>
                                <td><a href="/administrar/creacion" class="text-black">Agregar un producto</a></td>
                                <td><a href="/administrar/tallas" class="text-black">Agregar una talla</a></td>
                                <td><a href="/administrar/marcas" class="text-black">Agregar una marca</a></td>
                                <td><a href="/administrar/colores" class="text-black">Agregar colores</a></td>
                                <td><a href="/administrar/mascotas" class="text-black">Agregar mascotas</a></td>
                                <td><a href="/administrar/mediosdepago" class="text-black">Agregar medios de pago</a></td>
                                <td><a href="/administrar/pesos" class="text-black">Agregar medidas</a></td>
                                <td><a href="/administrar/envios" class="text-black">Agregar medios de envio</a></td>
                            </th>
                        </table> -->
                    </div>
                </div>
                <article class="tabla-admin-productos">
                    <h2 class="text-black pt-2">Administrador de Productos</h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Título</th>
                                <th scope="col">Ver producto</th>
                                <th scope="col">Editar producto</th>
                                <th scope="col">Eliminar producto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% listadoProductos.forEach(listadoProductos => { %>
                                <tr>
                                    <td><%= listadoProductos.id_product %></td>
                                    <td><%= listadoProductos.name %></td>
                                    <td><a href="/productDetail/<%= listadoProductos.id_product %>" class="text-black">
                                        <button class="btn btn-success" type="submit">Link</button></a></td>
                                    <td><a href="/administrar/<%= listadoProductos.id_product %>/editar" class="text-black">
                                        <button class="btn btn-warning" type="submit">Editar</button></a></td>
                                    <td><form action="/administrar/delete/<%= listadoProductos.id_product %>" class="text-black" method="POST">
                                        <button class="btn btn-danger" type="submit">Borrar</button></form></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </article>
            </article>
        </section>
    </body>
</html>