<!DOCTYPE html>
<html lang ="es">
    <%- include('../partials/head.ejs') %>
    
    <body>
        <%- include('../partials/header.ejs') %>
        <section class="row">
            <article class="col-12"><h2 class="text-black text-center pt-2">Administrar datos</h2></article>
            <div class="contenedornav" role="group" aria-label="Vertical button group">
                <button type="button" class="btn btn-dark"><a href="/administrar/creacion" class="text-black">Agregar un producto</a></button>
                <button type="button" class="btn btn-dark"><a href="/administrar/tallas" class="text-black">Agregar una talla</a></button>
                <button type="button" class="btn btn-dark"><a href="/administrar/marcas" class="text-black">Agregar una marca</a></button>
                <button type="button" class="btn btn-dark"><a href="/administrar/colores" class="text-black">Agregar colores</a></button>
                <button type="button" class="btn btn-dark"><a href="/administrar/mascotas" class="text-black">Agregar mascotas</a></button>
                <button type="button" class="btn btn-dark"><a href="/administrar/mediosdepago" class="text-black">Agregar medios de pago</a></button>
                <button type="button" class="btn btn-dark"><a href="/administrar/pesos" class="text-black">Agregar medidas</a></button>
                <button type="button" class="btn btn-dark"><a href="/administrar/envios" class="text-black">Agregar medios de envio</a></button>
              </div>
              <article class="col-12"><h2 class="text-black text-center pt-2">Administrador de Productos</h2></article>
            <article class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Título</th>
                            <th scope="col">Ver producto</th>
                            <th scope="col">Editar producto</th>
                            <th scope="col">Eliminar producto</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% listadoProductos.forEach(listadoProductos => { %>
                            <tr>
                                <td><%= listadoProductos.id_product %></td>
                                <td><%= listadoProductos.name %></td>
                                <td><a href="/productDetail/<%= listadoProductos.id_product %>" class="text-black">Link</a></td>
                                <td><a href="/administrar/<%= listadoProductos.id_product %>/editar" class="text-black">Editar</a></td>
                                <td><form action="/administrar/delete/<%= listadoProductos.id_product %>" class="text-black" method="POST"><button type="submit">Borrar</button></form></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </article>
        </section>
    </body>
</html>