<!DOCTYPE html>
  <html lang ="es">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
      <div class="form">
        <span class="form__title">Crear nuevo producto</span>
        <div class="container products-wrapper">
          <form action="/administrar/creacion" method="POST" enctype="multipart/form-data">
            <div class="form__input">
              <label for="Nombre" class="form-label">Nombre del producto:</label>
              <input type="text" class="form-input" id="Nombre" placeholder="Ej: Alimento balanceado" required name="Nombre">
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="Descripcion" class="form-label">Descripcion del producto:</label>
              <textarea class="form-input" id="Descripcion" required name="Descripcion"></textarea>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="idMarca">Seleccionar marca:</label>
              <select class="selector" required aria-label="select example">
                <% for (let i=0; i < marcas.length; i++){ %>
                <option value="<%= marcas[i].idMarcas%>" name="idMarca">
                  <%= marcas[i].nombreMarca%>
                </option>
                <% } %>
              </select>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label>Seleccionar Categoria:</label>
              <select for="idCategoria" class="selector" required aria-label="select example">
                <% for (let i=0; i < categorias.length; i++){ %>
                <option value="<%= categorias[i].idCategoria%>" name="idCategoria">
                  <%= categorias[i].nombreCategoria%>
                </option>
                <% } %>
              </select>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="Precio" class="form-label">Precio del producto:</label>
              <input type="number" class="form-input" placeholder="Ej: 3000" id="Precio" required name="Precio">
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="Descuento" class="form-label">Descuento:</label>
              <input type="number" class="form-input" placeholder="Ej: 25" id="Descuento" name="Descuento">
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="idColor">Seleccionar color:</label>
              <select class="selector" required aria-label="select example">
                <% for (let i=0; i < colores.length; i++){ %>
                <option value="<%= colores[i].idColor%>" name="idColor">
                  <%= colores[i].nombreColor%>
                </option>
                <% } %>
              </select>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="idTalle">Seleccionar talla:</label>
              <select class="selector" required aria-label="select example">
                <% for (let i=0; i < talles.length; i++){ %>
                <option value="<%= talles[i].idTalles%>" name="idTalle">
                  <%= talles[i].nombreTalla%>
                </option>
                <% } %>
              </select>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="idPesos" class="form-label">Peso del producto:</label>
              <input type="number" class="form-input" placeholder="Ej: 10" id="idPesos" required name="idPesos">
            </div>
            <div class="form__input">
              <input type="file" class="form-control" name="imagen" id="imagen" aria-label="file example" placeholder="Adjuntar imagenes del producto" accept="pdf, jpeg, jpg" required>
            </div>
            <div class="form__input">
              <label for="idMascota">Seleccionar mascota:</label>
              <select class="selector" required aria-label="select example">
                <% for (let i=0; i < mascotas.length; i++){ %>
                <option value="<%= mascotas[i].idMascota%>" name="idMascota">
                  <%= mascotas[i].nombreMascota%>
                </option>
                <% } %>
              </select>
              <span class="bar"></span>
            </div>
            <div class="mb-3">
              <button class="btn btn-primary" type="submit" >Guardar producto</button>
              <a href="/administrar" class="btn btn-warning">Volver al Administrador</a>
            </div>
          </form>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
    </body>
  </html>

   