<!DOCTYPE html>
  <html lang ="es">
    <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
      <link rel="stylesheet" href="/css/register.css">
    </head>
    <body>
      <div class="form">
        <span class="form__title">Crear nuevo producto</span>
        <div class="container products-wrapper">
          <form action="/administrar/creacion" method="POST" enctype="multipart/form-data">
            <div class="form__input">
              <label for="Nombre" class="form-label">Nombre del producto:</label>
              <input type="text" class="form-input" id="Nombre" placeholder="Ej: Alimento balanceado" required name="Nombre">
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="Descripcion" class="form-label">Descripcion del producto:</label>
              <textarea class="form-input" id="Descripcion" required name="Descripcion"></textarea>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="idMarcas">Seleccionar marca:</label>
              <select class="selector" required aria-label="select example" name="idMarcas">
                <% for (let i=0; i < marcas.length; i++){ %>
                <option value="<%= marcas[i].idMarcas%>" name="idMarcas">
                  <%= marcas[i].nombreMarca%>
                </option>
                <% } %>
              </select>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label>Seleccionar Categoria:</label>
              <select for="idCategoria" class="selector" required aria-label="select example" name="idCategoria">
                <% for (let i=0; i < categorias.length; i++){ %>
                <option value="<%= categorias[i].idCategoria%>" name="idCategoria">
                  <%= categorias[i].nombreCategoria%>
                </option>
                <% } %>
              </select>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="Precio" class="form-label">Precio del producto:</label>
              <input type="number" class="form-input" placeholder="Ej: 3000" id="Precio" required name="Precio">
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="Descuento" class="form-label">Descuento:</label>
              <input type="number" class="form-input" placeholder="Ej: 25" id="Descuento" name="Descuento">
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="idColor">Seleccionar color:</label>
              <select class="selector" required aria-label="select example" name="idColor">
                <% for (let i=0; i < colores.length; i++){ %>
                <option value="<%= colores[i].idColor%>" name="idColor">
                  <%= colores[i].nombreColor%>
                </option>
                <% } %>
              </select>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="idTalles">Seleccionar talla:</label>
              <select class="selector" required aria-label="select example" name="idTalles">
                <% for (let i=0; i < talles.length; i++){ %>
                <option value="<%= talles[i].idTalles%>" name="idTalles">
                  <%= talles[i].nombreTalla%>
                </option>
                <% } %>
              </select>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="idPesos">Seleccionar peso del producto:</label>
              <select class="selector" required aria-label="select example" name="idPesos">
                <% for (let i=0; i < pesos.length; i++){ %>
                <option value="<%= pesos[i].idPesos%>" name="idPesos">
                  <%= pesos[i].nombrePeso%>
                </option>
                <% } %>
              </select>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="idMascotas">Seleccionar mascota:</label>
              <select class="selector" required aria-label="select example" name="idMascotas">
                <% for (let i=0; i < mascotas.length; i++){ %>
                <option value="<%= mascotas[i].idMascotas%>" name="idMascotas">
                  <%= mascotas[i].NombreMascota%>
                </option>
                <% } %>
              </select>
              <span class="bar"></span>
            </div>
            <div class="form__input">
              <label for="idMascota">Adjuntar imagen del producto:</label>
              <input type="file" name="imagen" id="imagen" accept= "pdf, jpeg, jpg" required>
              <span class="bar"></span>
          </div>
            <div class="mb-3">
              <button class="btn btn-primary" type="submit" >Guardar producto</button>
              <a href="/administrar" class="btn btn-warning">Volver al Administrador</a>
            </div>
          </form>
        </div>
      </div>
      <%- include('../partials/footer.ejs') %>
    </body>
  </html>

   