<!DOCTYPE html>

<html lang="es">
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
    <main>
        <section class="banner">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="images/Banners/banner1-mascotas.jpg" class="d-block w-100" alt="Foto1 Carrusel">
                  </div>
                  <div class="carousel-item">
                    <img src="images/Banners/banner2-perros.jpg" class="d-block w-100" alt="Foto2 Carrusel">
                  </div>
                  <div class="carousel-item">
                    <img src="images/Banners/banner3-perros-accesorios.jpg" class="d-block w-100" alt="Foto3 Carrusel">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>
        <section>
          <!-- filter solo con promociones -->
          <!-- hacer dinamico todos los datos  -->
            <h2>"Las mejores promociones"</h2>
            <div class ="listadoProductos">
            <% products.filter(product => product.seccion === 'ofertas').forEach(product => { %>
              <article class="detalleProducto">
                  <div class="col">
                    <div class="card h-100">
                      <img src="images/Productos/<%= product.imagen %>" class="card-img-top" alt="Producto1">
                      <div class="card-body">
                        <h5 class="card-title"><%= product.nombre %></h5>
                        <div class="main-article">
                          <i class="fas fa-truck"></i>
                          <p class="price"><%= product.precio %></p>
                          <p class="discount"><%= product.descuento %></p>
                          <button class="btn btn-primary btn-sm" type="submit">Comprar</button>
                          <button class="btn btn-secondary btn-sm" type="submit">Agregar al carrito</button>
                      </div>
                      </div>
                    </div>
                  </div>              
                </article>
            <% }) %>
            </div>
          <button class="btn btn-outline-primary" disabled type="submit">Ver más productos</button>
        </section>

        <section class="banner">
            <h2>"Marcas destacadas"</h2>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="images/Marcas/Royalcanin.jpg" class="d-block w-100" alt="marca1">
                </div>
                <div class="carousel-item">
                    <img src="images/Marcas/Pedigree.jpg" class="d-block w-100" alt="marca2">
                </div>
                <div class="carousel-item">
                  <img src="images/Marcas/dogchow-logo-producto_0.jpg" class="d-block w-100" alt="marca3">
                </div>
                <div class="carousel-item">
                  <img src="images/Marcas/proplan-logo-producto-2019.jpg" class="d-block w-100" alt="marca4">
                </div>
              </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>