<!DOCTYPE html>

<html lang="es">
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
    <main>
        <section class="banner">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="images/Banners/BannerHeader.png" class="" alt="Foto1 Carrusel">
                  </div>
                  <div class="carousel-item">
                    <img src="images/Banners/BannerHeader2.png" class="" alt="Foto2 Carrusel">
                  </div>
                  <div class="carousel-item">
                    <img src="images/Banners/BannerHeader3.png" class="d-block w-100" alt="Foto3 Carrusel">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        <section class="cuerpo-pagina">
          <h2>Productos en oferta!</h2>
          <div class ="listadoProductos">
            <% productos.filter(producto=> {
              if(producto.oferta == "si") {%>
            <article class="detalleProducto">
              <a class="redireccion" href="/productDetail/<%=producto.id_product%>">
                <div class="col">
                  <div class="card h-100">
                    <img src="/images/Productos/<%= producto.image %>" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title" ><%= producto.name %></h5>
                      <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$ <%= producto.price %></p>
                        <p class="discount"><%= producto.discount %>%</p>
                        <a class="redireccion" href="/productCart"><button class="btn btn-primary btn-sm" type="submit">Comprar</button></a>
                        <a class="redireccion" href="/productCart"><button class="btn btn-warning btn-sm" type="submit">Agregar al carrito</button></a>
                      </div>
                    </div>
                  </div>
                </div>              
              </article>
              <% }}) %>
        </div>
        
      </section>

        
        <section class="cuerpo-pagina">
            <h2>Destacados!</h2>
            <div class ="listadoProductos">
              <% productos.forEach(productos=> { %>
              <article class="detalleProducto">
                <a class="redireccion" href="/productDetail/<%=productos.id_product%>">
                  <div class="col">
                    <div class="card h-100">
                      <img src="/images/Productos/<%= productos.image %>" class="card-img-top" alt="">
                      <div class="card-body">
                        <h5 class="card-title" ><%= productos.name %></h5>
                        <div class="main-article">
                          <i class="fas fa-truck"></i>
                          <p class="price">$ <%= productos.price %></p>
                          <p class="discount"><%= productos.discount %>%</p>
                          <a class="redireccion" href="/productCart"><button class="btn btn-primary btn-sm" type="submit">Comprar</button></a>
                          <a class="redireccion" href="/productCart"><button class="btn btn-warning btn-sm" type="submit">Agregar al carrito</button></a>
                        </div>
                      </div>
                    </div>
                  </div>              
                </article>
                <% }) %>
          </div>
          
        </section>

        <section class="banner-inferior">
            <h2>Marcas destacadas</h2>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <a href="/marca/3"><img src="images/Marcas/Banner1.jpg" class="d-block w-100" alt="marca1"></a>
                </div>
                <div class="carousel-item">
                  <a href="/marca/15"><img src="images/Marcas/Banner2.jpg" class="d-block w-100" alt="marca2"></a>
                </div>
                <div class="carousel-item">
                  <a href="/marca/13"><img src="images/Marcas/Banner3.jpg" class="d-block w-100" alt="marca3"></a>
                </div>
                </div>
              </div>
            </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>