<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
  <div class="container products-wrapper">
		
		<div class="product-detail">
			<div class="row">
				<div class="imagen-detalle-producto">
					<img src="/images/Productos/<%= product.imagen %>" class="imagen-detalle-producto" alt="">
					
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= product.nombre %></h2>
							<p class="product-detail-price"><span>$ <%= product.precio %></span></p>
							<p class="product-detail-discount"><b><%= product.descuento %>%</b></p>
						<div class="actions-list">
							<div>
								<i class="fas fa-credit-card"><p>Pagar en 12 cuotas sin interes</p></i>
							</div>
							<div>
								<i class="fas fa-store"><p>Retiro gratis en locales del vendedor</p></i>
							</div>
								</div>
						
						<a href="/productDetail/<%= product.id %>/agregar"><button class="btn btn-success btn-sm" type="submit">Comprar</button></a>
						<a href="/productDetail/<%= product.id %>/agregar"><button class="btn btn-warning btn-sm" type="submit">Agregar al carrito</button></a>
						<a href="/productDetail/<%= product.id %>/editar"><button class="btn btn-light btn-sm" type="submit">Editar producto</button></a>
						
						<form action="/delete/<%= product.id %>?_method=DELETE" method="POST" style="display: inline-flex">
							<button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
						</form>
						
					
						<p class="product-detail-description">
							<h2>DESCRIPCIÓN:</h2>
							<%= product.descripción %>
						</p>
					</article>
				</div>
			</div>
		</div>
	</div>
 

  <%- include('../partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>