<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
  <div class="container products-wrapper">
		
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/images/Productos/<%= product.imagen %>" class="card-img-top" alt="">
					<p class="product-detail-description">
						<%= product.descripción %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= product.nombre %></h2>
							<p class="product-detail-price"><span><%= product.precio %></span></p>
							<p class="product-detail-price"><b><%= product.descuento %></b></p>
						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card">
                  <span><p>Pagar en 12 cuotas sin interes</p></span></i>
							</li>
							<li>
								<i class="fas fa-store">
                <span><p>Retiro gratis en locales del vendedor</p></span></i>
							</li>
						</ul>
						
            <a href="/productDetail/:id/agregar"><button class="btn btn-success btn-sm" type="submit">Comprar</button></a>
            <a href="/productDetail/:id/agregar"><button class="btn btn-warning btn-sm" type="submit">Agregar al carrito</button></a>
            <a href="/productDetail/:id/editar"><button class="btn btn-light btn-sm" type="submit">Editar producto</button></a>
						
						<form action="/products/delete/??" method="POST" style="display: inline-flex">
							<button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
 

  <%- include('../partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>