<!DOCTYPE html>
<html lang="es">
  <%- include('../partials/head.ejs') %>
<body>
  <%- include('../partials/header.ejs') %>
  <div class="container products-wrapper">
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb">
		  <li class="breadcrumb-item"><a href="/"><i class="fa-solid fa-house"></i></a></li>
		  <li class="breadcrumb-item active" aria-current="page"><%= producto.name %></li>
		</ol>
	  </nav>
		<div class="product-detail">
			<div class="row">
				<div class="imagen-detalle-producto">
					<img src="/images/Productos/<%=producto.image %>" class="imagen-detalle-producto" alt="">
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= producto.name %></h2>
							<p class="product-detail-price"><span>$ <%= producto.price %></span></p>
							<p class="product-detail-discount"><b>-<%= producto.discount %>%</b></p>
							<div class="actions-list">
								<div>
									<!-- Button trigger modal -->
									<i class="fa-solid fa-truck" data-bs-toggle="modal" data-bs-target="#exampleModal1"><p>MEDIOS DE ENVIO</p></i>
									<!-- Modal -->
									<span class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="medio-envio" aria-hidden="true">
									  <div class="modal-dialog">
										<div class="modal-content">
										  <div class="modal-header">
											<h1 class="modal-title fs-5" id="medio-envio">Métodos de entrega</h1>
											<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
										  </div>
										  <div class="modal-body">
											<img src="/images/Marcas/logos-mensajeria1.jpg">
										  </div>
										</div>
									  </div>
									</span>
								  </div>
							</div>
							<div class="actions-list">
								<div>
									<!-- Button trigger modal -->
									<i class="fa-regular fa-credit-card" data-bs-toggle="modal" data-bs-target="#exampleModal2"><p>MEDIOS DE PAGO</p></i>
									<!-- Modal -->
									<span class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="medio-pago" aria-hidden="true">
									  <div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
											  <h1 class="modal-title fs-5" id="medio-pago">Medios de pago</h1>
											  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
											</div>
											<div class="modal-body">
											  <img src="/images/Marcas/mediodepago_iconos.jpg">
											</div>
										  </div>
										</div>
									  </span>
								  </div>
							</div>
							<div class="d-flex">
								<button class="btn btn-primary btn-block agregar_carrito" data-id="<%=producto.id_product%>">Agregar al carrito </button>
							</div>
						<p class="product-detail-title">Cantidad disponible: <%= producto.id_product %></p>
					</article>
				</div>
			</div>
			<div class="descripcion-detail">
				<h2>DESCRIPCIÓN:</h2>
				<p class="product-detail-description">
					<%= producto.description %>
				</p>
			</div>
		</div>
	</div>
 

  <%- include('../partials/footer.ejs') %>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
</body>
</html>


